.Container {
    padding: 15px;
    background-color: rgb(199, 124, 124);
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}

.Food {
    padding-bottom: 5px;
    background-color: rgba(42, 58, 104, 0.3);
}

h2 {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: red;
}
